NODE_ENV=development
PORT=xxxx

# Database
DB_HOST=xxxx
DB_PORT=xxxx
DB_NAME=xxxx
DB_USER=xxxx
DB_PASSWORD=

# JWT
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
JWT_EXPIRES_IN=xx

# Admin Seed
ADMIN_USERNAME=xxxx
ADMIN_EMAIL=xxxxxxxxxxxxxxx
ADMIN_PASSWORD=xxxxxx

